node_modules/
build/
coverage/
.vite/
.cache/
*.log
.commitinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
admin/assets/
admin/index.html
admin/index_m.html
www/
.ai/
